form{
    width: 400px;
    margin: auto;
    padding: 10px 40px;
    background: white;
    border: 1px solid black;
  
}
form .form-control{

    width: 384px;
    padding: 1px;
    border: solid 1px black;
   
}


button{
   margin-left: 40%;
    width: 88px;
    height: 50px;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}
h2{
    text-align: center;
   
}
